@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

@font-face {
    font-family: myFirstFont;
    src: url(gotham-bold.eot);
}


/* COLOR */
$main-color: #191919;

body {
  font-family: 'gotham', 'Roboto' sans-serif;
  background-color: #e0e0e0;
  overflow-x: hidden;
}
.navbar-header {
}
.navbar {
  position: relative;
  height: 70px;
  border-radius: 0px;
  background-color: $main-color;
  margin-bottom: -20px;
  z-index: 1;
  ul>li>a {
    font-weight: bold;
    text-transform: uppercase;
  }
}
.navbar-inverse {
  border-color: $main-color;
}
.navbar-inverse .navbar-nav>li>a {
  background-color: $main-color;
  font-family: 'gotham', 'Roboto', sans-serif;
  transition: .3s ease-out .3s;
  &:hover,
  &:active,
  &:focus {
   transition: .3s ease-out .3s;
    background-color: #e4b816;
  }
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #e4b816;
}
.navbar-toggle {
  margin-top: 18px;
  border: none;
}
.logo {
  margin-top: 15px;
  margin-left: 10px;
  height: 35px;
  width: 150px;
}
.header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0;
  background-image: url("../img/header.jpg");
  width: 100%;
  height: 500px;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 0 10px;
  .title-header {
    font-family: 'gotham', 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-top: 100px;
    font-size: 4rem;
    line-height: 1.5em;
    text-transform: uppercase;
  }
  .title-header__featured {
    color: $main-color;
    padding: 5px 5px;
    border-radius: 6px;
    background-color: #fdc029;
  }
  .typed {
    font-family: 'gotham', 'Roboto', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
.btn-location {
  font-family: 'gotham', 'Roboto', sans-serif;
  position:absolute;
  font-size: 1.2em;
  top:75%;
  left: 50%;
  padding: 1em 1em;
  margin-left: -80px;
  background-color: #fdc029;
  border-color: transparent;
  font-weight: bold;
  color: $main-color;
  text-transform: uppercase;
  transition: 0.3s;
  letter-spacing: 1px;
  box-shadow: 0 5px #E1A823;
  border-radius: 3px 3px 5px 5px;
  &:hover,
  &:active,
  &:focus {
    color: $main-color;
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 4px #E1A823;
    top: 75.5%;
    transition: 0.1s;
  }
  &:active {
    box-shadow: 0 0 #E1A823;
    top: 76.3%;
      transition: 0.1s;

  }
}
.title {
  font-family: 'gotham', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #2c2b26;
  text-align: center;
  text-transform: uppercase;
  margin: 1.4em 0 .5em 0;
}
.title-about {
  padding-top: 0.6em;
}
.description-about {
  font-family: 'gotham', 'Roboto', sans-serif;
  color: #2c2b26;
  font-weight: bold;
  line-height: 2em;
  text-align: justify;
  padding-top: 1em;
  padding-bottom: 5em;
  border-bottom: 3px solid black;
    -webkit-border-image:
      -webkit-gradient(linear, 0 0, 0 100%, from(#e4b816), to(rgba(0, 0, 0, 1))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(#e4b816, rgba(0, 0, 0, 1)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#e4b816, rgba(0, 0, 0, 1)) 1 100%;
    -o-border-image:
      -o-linear-gradient(#e4b816, rgba(0, 0, 0, 1)) 1 100%;
    border-image:
      linear-gradient(to bottom, #e4b816, rgba(0, 0, 0, 1)) 1 100%;
}
.logo-about {
  width: 100%;
  margin: 0 auto;
  padding: 1.5em 0;
}
.verticalLine {
  margin: 2.5em auto;
  width: 90%;
  height: 3px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to right, #e4b816, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, #e4b816, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #e4b816, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e4b816, black); /* Standard syntax */
}
.container-photos {
  position: relative;
  background-color: #2c2b26;
  h1 {
    margin-bottom: 1em;
    color: #FFFFFF;
  }
}
.title-photos {
  .title {
    color: white;
  }
}
#slide .item{
  margin: 3px;
}
#slide .item img{
  display: block;
  width: 100%;
  height: auto;
}
#slide .item{
  padding: 20px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  background: #e4b816;
}
.customNavigation{
  margin-top: 1.5em;
  text-align: center;
  .btn-slide {
     font-family: 'gotham', 'Roboto', sans-serif;
  padding: 1em;
  margin-right: 1em;
  border-radius: 5px;
  background-color: #fdc029;
  border-color: transparent;
  transition: 0.5s;
  font-weight: bold;
  color: $main-color;
  text-transform: uppercase;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fdc029;
  }
  }
}
.customNavigation a{
  font-family: 'gotham', 'Roboto', sans-serif;
  color: #2c2b26;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  background-color: #e4b816;
  transition: 0.5s;
      &:hover {
      color: white;
      background-color: transparent;
      border: 1px solid #fdc029;
    }
}
.container-time {
  height: 330px;
}
.description-time {
  font-family: 'gotham', 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
  letter-spacing: 0.1em;
  margin-top: -10px;
}
.time-details {
  text-align: center;
  h3 {
    font-family: 'gotham', 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
  }
  p {
        font-size: 1.5em;
  }
}
.glyphicon-time {
  font-size: 4em;
  margin: 25px 0;
}
.title-team {
  .title {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #FFFFFF;
  }
}
.container-team {
  margin-top: 22em;
  background-color: #2c2b26;
}
.typed-cursor{
  display: none;
}

@media (min-width: 400px) {
  .btn,
  .btn-primary,
  .btn-lg {
    margin-left: -85px;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    li>a {
    margin-top: 10px;
    }
  }
  .navbar-right {
    margin-right: -30px;
  }
  .logo {
    margin-left: 2%;
  }
  .btn,
  .btn-primary,
  .btn-lg {
    margin-left: -150px;
    width: 300px;
  }
  .header-feature {
    margin: 0 0;
    background-image: url("../img/header.jpg");
    width: 100%;
    height: 500px;
    background-repeat:no-repeat;
    background-size: cover;
    h1 {
      padding-left: 2.5em;
    }
    p {
      padding-top: 1em;
      padding-left: 7em;
      a {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5em;
        color: #2c2b26;
      }
    }
  }
  .title-about {
    margin-bottom: 1.3em;
  }
  .logo-about {
    width: 100%;
  }
  .description-about {
    padding: 1em 0 1em 5em;
    border-left: 3px solid;
    -webkit-border-image:
      -webkit-gradient(linear, 0 0, 0 100%, from(#e4b816), to(rgba(0, 0, 0, 1))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(#e4b816, rgba(0, 0, 0, 1)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#e4b816, rgba(0, 0, 0, 1)) 1 100%;
    -o-border-image:
      -o-linear-gradient(#e4b816, rgba(0, 0, 0, 1)) 1 100%;
    border-image:
      linear-gradient(to bottom, #e4b816, rgba(0, 0, 0, 1)) 1 100%;
    height: 100%;
  }
 .verticalLine {
    display: none;
  }
}
.container-photos {
  height: 500px;
}
