@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

@font-face {
    font-family: myFirstFont;
    src: url(gotham-bold.eot);
}


/* COLOR */
$main-color: #191919;
$secondary-color: #e0e0e0;
$tertiary-color: #fdc029;

body {
  font-family: 'gotham', 'Roboto' sans-serif;
  background-color: $secondary-color;
  overflow-x: hidden;
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse {
  margin-top: .8em;
}

.navbar-inverse {
  font-family: 'gotham', 'Roboto', sans-serif;
  padding-bottom: .8em;
  border-radius: 0px;
  z-index: 1;
  background-color: $main-color;
  
  ul {
    margin-top: 2px;
  }
  
  li a {
    background-color: $main-color;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.navbar .navbar-nav>li>a {
  background-color: $main-color;
  font-family: 'gotham', 'Roboto', sans-serif;
  transition: .2s ease-out .2s;
  
  &:hover,
  &:active,
  &:focus {
    background-image: url(../img/background-texture.png);
    background-color: $tertiary-color;
  }
}

.navbar-toggle {
  margin-top: 18px;
  border: none;
}

.logo {
  margin-top: 18px;
  margin-left: 10px;
  height: 35px;
  width: 150px;
}

.header-content {
  position: relative;

  display: -ms-flex; 
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  margin: 0 0;
  background-image: url("../img/header.jpg");
  width: 100%;
  height: 600px;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding: 0 10px;
  
  .title-header {
    font-family: 'gotham', 'Roboto', sans-serif;
    color: #FFFFFF;
    margin-top: 100px;
    font-size: 4rem;
    line-height: 1.5em;
    text-transform: uppercase;
  }
  
  .title-header__featured {
    color: $main-color;
    padding: 5px 5px;
    border-radius: 6px;
    background-image: url(../img/background-texture.png);
    background-color: $tertiary-color;
  }
  
  .typed {
    font-family: 'gotham', 'Roboto', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .typed-cursor{
    display: none;
  }
}

.btn-location {
  font-family: 'gotham', 'Roboto', sans-serif;
  position:absolute;
  font-size: 1.2em;
  top:75%;
  left: 50%;
  padding: 1em 1em;
  margin-left: -80px;
  background-image: url(../img/background-texture.png);
  background-color: $tertiary-color;
  border-color: transparent;
  font-weight: bold;
  color: $main-color;
  text-transform: uppercase;
  transition: 0.3s;
  letter-spacing: 1px;
  box-shadow: 0 7px #E1A823;
  border-radius: 3px 3px 5px 5px;
  
  &:hover,
  &:active,
  &:focus {
    color: $main-color;
    text-decoration: none;
  }
  
  &:hover {
    box-shadow: 0 4px #E1A823;
    top: 75.5%;
    transition: 0.1s;
  }
  
  &:active {
    box-shadow: 0 0 #E1A823;
    top: 76.3%;
      transition: 0.1s;

  }
}


.title {
  font-family: 'gotham', 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #2c2b26;
  text-align: center;
  text-transform: uppercase;
  margin: 1.4em 0 .5em 0;
}

.container-about {
  font-family: 'gotham', sans-serif;
  padding: 3.5em 2em 5em 2em;

  .title-about {
    text-align: left;
  }

  .description {
    margin: -15px 0 40px 0;
    font-weight: lighter;
    
    .description__newfitness {
      background-image: url(../img/background-texture.png);
      padding: 5px;
      line-height: 2em;
      border-radius: 5px;
      font-weight: bold;
      background-color: #E1A823;
    }
  }

  .history {
    font-size: 1.3em;
    letter-spacing: .1em;
    font-weight: lighter;
  }

  .container-photo__about {
    margin-top: 90px;
    .photo-about {
    }
  }

  .line-about {
    display: block;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #FC913A 0%, #FF4E50 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #FC913A 0%, #FF4E50 100%);
    border-image: linear-gradient(to right, rgba(30,30,30,0), rgba(30,30,30,1.0), rgba(30,30,30,0));
    border-image-slice: 1;
    margin: 0px 0;
    padding: 0; 

    @media (min-width: 768px) {
        margin-bottom: 20px;
      }
  }
  .gallery-photos-about {
    text-align: center;

    .photo-about {
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      position: relative;
      padding: 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);

      @media (min-width: 375px) {
        margin-right: 10px;
      }
    }
    .example-image {
      width: 130px;
      
      @media (min-width: 375px) {
        width: 140px;
      }
      
      @media (min-width: 425px) {
        width: 170px;
      }

      @media (min-width: 768px) {
        width: 150px;
      }
    }
  }
}

.container-photos {
  position: relative;
  background-color: #2c2b26;
  padding-bottom: 4em;
  
  h1 {
    margin-bottom: 1em;
    color: #FFFFFF;
  }
}

.title-photos {
  padding-bottom: 1.5em;
  
  .title {
    color: white;
  }
}

#slide {
  
  .item {
    padding: 20px 0px;
    margin: 10px;
    margin-bottom: 20px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    background-image: url(../img/background-texture.png);
    background-color: $tertiary-color;
    
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.customNavigation{
  margin-top: 1.5em;
  text-align: center;
  
  .btn-slide {
     font-family: 'gotham', 'Roboto', sans-serif;
    padding: 1em;
    margin-right: 1em;
    border-radius: 5px;
    background-image: url(../img/background-texture.png);
    background-color: $tertiary-color;
    border-color: transparent;
    transition: 0.5s;
    font-weight: bold;
    color: $main-color;
    text-transform: uppercase;
    
    &:hover,
    &:active,
    &:focus,
    a {
      color: #FFFFFF;
      text-decoration: none;
      cursor: pointer;
      background-color: transparent;
    }
  }
}
.container-time {
  padding-bottom: .6em;
  
  .description-time {
    font-family: 'gotham', 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 0.1em;
    margin-top: -10px;
  }
  
  .time-details {
    text-align: center;
    
    h3 {
      font-family: 'gotham', 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 2em;
    }
    
    p {
      font-size: 1.5em;
    }
  }
  
  .glyphicon-time {
    font-size: 4em;
    margin: 25px 0;
  }
}

.container-team {
  background-color: #2c2b26;
  margin-top: 4em;
  padding-bottom: 5em;
  .title-team {
    .title {
      margin-bottom: 1.3em;
      color: #FFFFFF;
    }
  }
  
  .our-team {
    
    .team {
      position: relative;
    }
    
    .title {
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 10px;
      text-transform: uppercase;
      transition: all 0.5s ease 0s;
    }
    
    &:hover .title {
      color: #E3A920;
    }
    
    .post{
      display: block;
      font-size: 13px;
      font-weight: 700;
      color: #FFFFFF;
      background-color: $main-color;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    
    &:hover .post {
      color: $main-color;
      background-color: #FFFFFF;
    }
    
    .pic  {
      position: relative;
      overflow: hidden;
      
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(218,177,36,.5);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s ease 0s;
      }
      
      img {
        width: 100%;
        height: auto;
      }
    }
    
    &:hover .pic:after {
      opacity: 1;
    }
    
    .social-links {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;
      position: absolute;
      bottom: -40%;
      left: 0;
      text-align: center;
      z-index: 1;
      transition: all 0.5s ease 0s;
      
      li {
        display: inline-block;
        margin-right: 5px;
        
        a {
          display: block;
          padding-bottom: 1.5em;
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 50%;
          font-size: 2.3em;
          color: #fdfffc;
          transition: all 0.5s ease 0s;
        }
      }
    }
    
    &:hover .social-links {
      bottom: 20px;
    }
    
    .team-info  {
      font-family: 'gotham', 'Roboto', sans-serif;
      font-weight: normal;
      padding-bottom: 2.5em;
      letter-spacing: .2em;
      background-image: url(../img/background-texture.png);
      background-color: #E3A920;
      color: #011627;
      text-align: center;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: all 0.5s ease 0s;
      
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        background: $main-color;
        z-index: -1;
        transition: all 0.5s ease 0s;
      }
    }
    
    &:hover .team-info {
      color: #FFFFFF;
      
      &:before {
        left: 0;
      }
    }
    
    .description{
      text-align: center;
      letter-spacing: .1em !important;
      font-size: 14px;
      line-height: 22px;
      padding: .6em .8em;
    }
    
    .schedule {
      color: #FFFFFF;
      background-color: $main-color;
      padding: 5px;
    }
    
    &:hover .schedule {
      color: $main-color;
      background-color: #FFFFFF;
    }
    
    @media screen and (max-width: 990px){
      margin-bottom: 25px;
    }
  }
}

.pricing-table {
  font-family: 'gotham', 'Roboto', sans-serif;
  text-align: center;
  border-radius: 10px;
  color: #FFFFFF;
  margin: 110px 0;
  cursor: pointer;

  .pricing-table__header {
    border-radius: 10px 10px 0 0;
    background-color: $main-color;
    padding: 25px;
    position: relative;
    cursor: pointer;
  }
  
  .pricing-icon__header {
    color: #E3A920;
    width: 115px;
    height: 70px;
    font-size: 30px;
    border-radius: 10px 10px 0 0;
    background-color: $main-color;
    padding: 15px 0;
    margin: -65px auto 0;
    cursor: pointer;
  }
  
  .heading {
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .price-value {
    font-size: 2em;
    padding: 1.5em;
    background-color: #262626;
    
    .value-month {
      
      &:after {
        content: "/ ";
        font-size: .8em;
      }
    }
    
    .month {
      font-size: .8em;
    }
  }
  
  .alert-danger {
    font-size: 1.5em;
    padding: 2em;
    margin-bottom: 0;
  }
  
  .pricing-table__alert {
    border-radius: 10px 10px 0 0;
    position: relative;
  }
  
  .pricing-icon__footer {
    color: #E3A920;
    width: 115px;
    height: 70px;
    font-size: 30px;
    border-radius: 0 0 10px 10px;
    background-color: $main-color;
    padding: 15px 0 60px 0;
    margin: 0 auto 0;
  }
  
  .pricing-table__footer {
    border-radius: 0 0 10px 10px;
    height: 40px;
    background-color: $main-color;
  }
}
.container__btn-contact {
  display: -ms-flex; 
  display: -webkit-flex; 
  display: flex;

  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;

  .btn-contact {
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .btn-contact1 {
    font-size: 1.4em;
    background: #2c2b26;
    color: #FFFFFF;
    border-radius: 5px;
    
    @media (min-width: 375px) {
      font-size: 1.5em;
    }
    
    &:hover {
      color: #FFFfFF;
    }
    
    &:active {
      background: $main-color;
      top: 2px;
    }
    
    &:before {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      line-height: 3;
      font-size: 140%;
      width: 60px;
    }
  }
  
  .btn-contact1a {
    padding: 25px 120px 25px 40px;
    overflow: hidden;

    &:before {
      left: auto;
      right: 10px;
      z-index: 2;
    }
    
    &:after {
      width: 35%;
      height: 200%;
      background-color: $tertiary-color;
      z-index: 1;
      right: 0;
      top: 0;
      margin: -10px -5px 0 -5px;
      -webkit-transform-origin: 0 0;
      -webkit-transform: rotate(-15deg);
      -moz-transform-origin: 0 0;
      -moz-transform: rotate(-15deg);
      -ms-transform-origin: 0 0;
      -ms-transform: rotate(-15deg);
      transform-origin: 0 0;
      transform: rotate(-15deg);
    }
  }
  
  .btn-contact1a:hover:after {
    width: 40%;
  }
  
  .icon-arrow-right {
    
    &:before {
      content: "";
      background-image: url(../img/icon-contact.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 45px 45px;
    }
  }
}
.number-phone {
  display: -ms-flex; 
  display: -webkit-flex; 
  display: flex;

  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;

  position: relative;
  padding: 0 1em;
  font-size: 1.7em;
  font-weight: bold;
  color: #E3A920;
  background: $main-color;
  border-radius: 5px;
  margin-top: 20px;
  width: 300px;
  height: 80px;

  &:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid $main-color;
    top: -40px;
    left: 42%;
  }
}

.container-instagram {
  position: relative;
  background-image: url('../img/background_instagram.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 0 0 5.5em 0;
  z-index: 2;
  
  .title-instagram {
    text-align: center;
    color: #FFFFFF;
  }
  
  .user-instagram {
    text-align: center;
    color: #E3A920;
    padding-bottom: 1.5em;
    
    a {
      color: #E3A920;
      font-weight: normal;
      text-decoration: none;
    }
  }
  
  #instafeed {
    text-align: center;
  }
}

.container-testimonial {
  padding-top: 1em;
  padding-bottom: 6em;
  .main-gallery {  
    font-family: 'gotham', 'Roboto', sans-serif;
  }
  
  .testimonial {
    text-align: center;
    max-width: 850px;
    margin: 30px auto 1em auto;
    padding: 0 20px;
  }
  
  .testimonial-avatar {
    width: 100px;
    border-radius: 50%;
    border: 3px solid #E3A920;
  }
  
  .testimonial-quote {
    display: block;
    font-size: 24px;
    font-weight: 300;
    padding: 20px 0;
  }
  
  .testimonial-author {
    display: block;
    font-weight: 800;
    color: #E3A920;
  }
  
  .btn-testimonial,
  .btn-testimonial {
    
    &:hover {
      color: $main-color;
    }
  }
}

.container-location {
  background-color: #FFFFFF;
  padding-right: 0;
  padding-left: 0;
  
  .title-location {
    background-color: #2c2b26;
    color: #FFFFFF;
    padding: 1em 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .title-contact {
    text-transform: uppercase;
    padding: 1em;
    margin-top: 40px;
    background-color: #2c2b26;
    color: #FFFFFF;
  }

  .infos {
    font-family: 'gotham', 'Roboto', sans-serif;
    text-align: center;
    padding-top: 4em;
    padding-right: 2em;
    letter-spacing: .2em;
    background-color: #FFFFFF;
    list-style-type: none;
    z-index: 1;
    
    @media (min-width: 768px) {
      padding: 1.3em 1em 0 1em;
    }
    
    @media (min-width: 1024px) {
      padding: 3.5em 1em 0 1em;
    }
    
    .phone {
      
      @media (min-width: 768px) {
        font-size: 1.2em;
      }
      
      @media (min-width: 1024px) {
        font-size: 1.3em;
      }
    }
    h1, h2, h3 {
      font-size: 1.3em;
      font-weight: bold;
    }
    
    li {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .google-maps__adress {
    z-index: 2;
    padding: 4em 0;
    margin-right: -15px;
    margin-left: -15px;

    #googleMap {
      width: 100%;
      height: 350px;
    }
  }
}

.container-footer {
  position: relative;
  font-family: 'gotham', 'Roboto', sans-serif;
  background-image: url(../img/background-texture.png);
  padding-bottom: 2em;
  padding-top: 4em;
  .navigation-footer {
    padding-top: 5em;
  }
 
 .nav-footer {
    padding-left: 0;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    
    li, a {
      line-height: 2em;
      text-decoration: none;
      font-weight: 800;
      color: $main-color;
      transition: 0.3s;
      
      &:hover {
        color: #FFFFFF;
      }
    }
  }
  
  .logo-fotter {
    position: relative;
    margin-left: 9em;
    display: none;
    
    .box-logo {
      width: 130px;
      height: 100px;
      border-radius: 3px;
      background-color: $main-color;
    }
    
    .logo-img {
      margin: 2.2em 2.5em;
    }
  }
}

.social {
  text-align: center;
  font-family: 'gotham', 'Roboto', sans-serif;
  
  .title-social {
    color: $main-color;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .social-links {
    padding-right: 20px;
    list-style: none;
    
    li {
      display: inline-block;
      
      .icon {
        margin-right: 5px;
        padding-right: 15px;
      }
    }
  }
}

.container-credits {
  font-family: 'gotham', sans-serif;
  color: #FFFFFF;
  padding: 1em 1.5em;
  background-color: #2c2b26;
  text-align: center;
  
  .copyright {
    margin-bottom: 1em;
    
    .copyright-name {
      margin: 0 0;
    }
    
    .rights {
      font-weight: lighter;
    }
  }
  
  .developer {
    
    .developer-name {
      font-size: 1em;
      margin: 0 0;
      
    }
    
    .name {
      font-weight: lighter;
    }
  }
}

@media (min-width: 375px) {
  
  .title {
    font-size: 3em;
  }
  
  .pricing-table {
    
    .heading {
      font-size: 2.5em;
    }
  }
}

@media (min-width: 768px) {
  
  .navbar-right {
    margin-right: -30px;
  }
  
  .logo {
    margin-left: 2%;
  }
  
  .logo-about {
    width: 100%;
  }
  
  .container-about {
    padding-left: 4em;
    padding-right: 4em;
  }
  
  .container-testimonial {
    padding-bottom: 12em;
  }
  
  .container-location {
    margin-top: -5em;
    margin-bottom: -4em;
    
    .google-maps__adress {
      padding-top: 1px;
      margin-left: 0;
    }
  }
  
  .container-footer {
    
    .nav-footer {
      padding-left: 3em;
      text-align: left;
    }
    
    .nav-footer2 {
      padding-left: 0;
    }
  }
}
@media (min-width: 991px) {
  
  .container-footer {
    
    .logo-fotter {
      display: block;
    }
  }
  
  .container-credits {
    font-family: 'gotham', sans-serif;
    color: #FFFFFF;
    padding: 1em 1.5em;
    background-color: #2c2b26;
    text-align: left;
    
    .copyright {
      margin-bottom: 0;
    }
    
    .developer {
      
      .developer-name {
        float: right;
      }
    }
  }
}
@media (min-width: 1024px) {
  .container-about {
    .line-about {
      margin: 40px 0 10px 0;
    }
  }
}

@media (min-width: 1322px) {
  
  .container-location {
    
    .infos {
      padding-top: 5em;
    }
  }
}
